<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.lcb.cbframework.dao.ManagerDao">
    <select id="checkLogin"  resultType="int">
        SELECT count(*) FROM tb_manager WHERE nickname=#{0} AND loginpassword=#{1} ;
    </select>
</mapper>